<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>服务2-自定义Service</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <style type="text/css">
        .container {
            padding: 5px;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>服务2-自定义Service</h1>
    <ul>
        <li>Service都是单例的</li>
        <li>Service由$injector负责实例化</li>
        <li>Service在整个应用的生命周期中存在，可以用来共享数据</li>
        <li>自定义Service要写在所有$开头的变量之后，angular先注入自己的，再注入自定义的</li>
        <li>内置Service以$开头，自定义Service应该避免以$开头</li>
    </ul>
    <h2>内置24个服务</h2>
    <ul>
        <li>$compile:编译服务</li>
        <li>$filter:数据格式化工具，共8个</li>
        <li>$interval</li>
        <li>$timeout</li>
        <li>$locale:国际化</li>
        <li>$location:浏览器地址栏变化</li>
        <li>$log</li>
        <li>$parse</li>
        <li>$http:封装Ajax</li>
    </ul>
    <p>
        Service、Provider、Factory本质都是Provider
        Provider模式是"策略模式"+"抽象工厂模式"的混合体
    </p>
    <div ng-controller="ctrl">
        <input type="text" ng-model="user.username">
        <input type="password" ng-model="user.password">
        <button type="button" ng-click="login()">Login</button>
        <div ng-show="status">login success</div>
    </div>
</div>
</div>
</body>
<script type="text/javascript">
    var app = angular.module("app", []);
    app.factory("loginService", function ($http) {
        return {
            login: function (username, password) {
                console.log(username + " : " + password);
                return $http({
                    method: "post",
                    url: "json/test14.json",
                    data: {
                        username: username,
                        password: password
                    }
                });
            }
        }
    });
    app.controller("ctrl", function ($scope, loginService) {
        $scope.user = {};
        $scope.status = false;
        $scope.login = function () {
            loginService.login($scope.user.username, $scope.user.password)
                    .success(function (data, status) {
                        console.log(data);
                        console.log(status);

                        $scope.status = true;
                    })
                    .error(function (data, status) {
                        console.log(data);
                        console.log(status);

                        $scope.status = false;
                    });
        }
    });
</script>
</html>