<div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-stacked" role="tablist">
                <li role="presentation"><a ui-sref=".item1" href="#">Item1</a></li>
                <li role="presentation"><a ui-sref=".item2" href="#">Item2</a></li>
                <li role="presentation"><a ui-sref=".item3" href="#">Item3</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ui-view="right">

            </div>
        </div>
    </div>
</div>